.main-page .main-page-content {
  padding-right: 0;
  padding-bottom: 50px;
}
.main-page .left-bar .searchbox-layout-vertical {
  height: 100px;
  border: thin solid black;
}
.main-page .left-bar .searchbox-layout-vertical h4 {
  padding: 10px;
}
.main-page .main-content .info-layout-full {
  padding: 10px 0 0px 0;
}
.main-page .main-content .info-layout-full .info-title-hotel {
  display: flex;
}
.main-page .main-content .info-layout-full .info-title-hotel a {
  padding: 0 5px;
}
.main-page .main-content .info-layout-full .list-img-hotel img {
  width: 100%;
  object-fit: cover;
}
.main-page .main-content .info-layout-full .list-img-hotel .img-1-1,
.main-page .main-content .info-layout-full .list-img-hotel .img-1-2 {
  height: 150px;
}
.main-page .main-content .info-layout-full .list-img-hotel .img-2 {
  height: 308px;
}
.main-page .main-content .list-thimbnail {
  padding: 10px 10px 0 10px;
}

.feature-extension .extension-item div {
  display: flex;
  justify-content: center;
  border: thin solid #ccc;
  padding: 15px 0;
}

.description-hotel {
  border-bottom: thin solid #ccc;
  padding-bottom: 40px;
}
.description-hotel .description-content {
  font-weight: 300;
}
.description-hotel .card-checksave {
  height: 100px;
  background-color: rgb(240, 247, 252);
  box-shadow: 2px 3px 5px #ccc;
  border-radius: 5px;
}
.description-hotel .card-checksave div {
  padding: 5px 0 0 10px;
  font-size: 18px;
}
.description-hotel .card-checksave .btn-savehotel {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.description-hotel .card-checksave .btn-savehotel input {
  width: 90%;
  background-color: #3888bd;
  border: none;
  height: 40px;
  color: white;
  font-size: 15px;
}

.show-room {
  padding-top: 30px;
}
.show-room .select-check {
  padding: 10px 0;
}

.room-list {
  width: 100%;
}
.room-list table {
  width: 100%;
  box-shadow: 2px 2px 8px 8px #dde5f3;
}
.room-list table .column-result {
  background-color: #ebf3ff;
}
.room-list table .column-result span {
  padding-right: 5px;
}
.room-list table th {
  background-color: #3888bd;
  color: white;
  font-weight: 300;
}
.room-list table a {
  font-size: 20px;
  text-decoration: underline;
}
.room-list table .description-room-item {
  padding-right: 5px;
  font-weight: 500;
  font-size: 15px;
}
.room-list table .VAT-room {
  font-size: 15px;
  font-weight: 300;
  color: #ccc;
}
.room-list table .price-old {
  font-size: 15px;
  font-weight: 300;
  color: red;
  text-decoration: line-through;
}

.desroom-content {
  font-weight: 300;
  font-size: 13px;
}

.extenname-item {
  padding-right: 5px;
}
