@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
  @{
    var culture = CultureInfo.CurrentCulture.Name;
}
<div class="content">
    <div class="">
        <div class="video" style="height: 450px; overflow: hidden;">
            <video height="800" width="100%" autoplay loop>
                <source src="../../img/ocean_-_119987 (1440p).mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="container find-room">
        <div class="area-find-room">
            <div class="container">
                <form method="get" action="@Url.Action("searchResult", "location")">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-7">
                                <div class="option-hotel d-flex mt-3 ml-3">
                                    <div class="item-btn ">
                                        Chỗ nghỉ qua đêm
                                    </div>
                                    <div class="item-btn item-trongngay">
                                        Chỗ nghỉ trong ngày
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="wrapper">
                            <div class="col-md-11">
                                <div class="wrapper-search mt-3">
                                    <i class="bi bi-search mr-3"></i>
                                    <input type="text" name="locationName" class="form-search" placeholder="Nhập địa điểm du lịch hoặc tên khách sạn">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row container-form mt-3">
                        <div class="col-md-11">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="wrapper-search">
                                        <div class="col-md-12 d-flex p-0">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-3 d-flex">
                                                        <div class="icon-checkdate">
                                                            <i class="bi bi-calendar2"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="row">
                                                            <input type="date" id="date-checkin" class="date-checktime" name="dateCheckIn">
                                                        </div>
                                                        <div class="row">
                                                            <span id="dayCheckIn" style="color: #9d9da0; font-size: 17px"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 straight">
                                                <div class="row">
                                                    <div class="col-md-3 d-flex">
                                                        <div class="icon-checkdate">
                                                            <i class="bi bi-calendar2-check"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="row">
                                                            <input type="date" id="date-checkout" class="date-checktime" name="dateCheckOut">
                                                        </div>
                                                        <div class="row">
                                                            <span id="dayCheckOut" style="color: #9d9da0; font-size: 17px"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrapper-search wrapper-number">
                                        <div class="col-md-1">
                                            <span><i class="bi bi-people"></i></span>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="row pl-3">
                                                <input type="number" value="1" class="number-people-input" name="totalPeople" />
                                                <span>Người sử dụng</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="btn-find-room">
                                <input type="submit" class="btn-find btn btn-info text-light" value="Tìm phòng trống">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container home-page">
        <h3 class="text-center">Các điểm thu hút khách du lịch Việt Nam</h3>
        <div class="wrapper-poster">
            <div class="row">
                <div class="col-md-6 group-location">
                    <div class="card-location">
                        <div class="card-img img-6">
                            <span class="label-location">TP. Hồ Chí Minh</span>
                            <img src="../../img/location/tphcm.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 group-location">
                    <div class="card-location">
                        <div class="card-img img-6">
                            <span class="label-location">TD. Hà Nội</span>
                            <img src="../../img/location/tdhn.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4 group-location">
                    <div class="card-location">
                        <div class="card-img img-4">
                            <span class="label-location">Nha Trang</span>
                            <img src="../../img/location/nhatrang.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 group-location">
                    <div class="card-location">
                        <div class="card-img img-4">
                            <span class="label-location">Đà Nẵng</span>
                            <img src="../../img/location/danang.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 group-location">
                    <div class="card-location">
                        <div class="card-img img-4">
                            <span class="label-location">Đà Lạt</span>
                            <img src="../../img/location/datlat.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="slide-show-location mt-5">
            <h4 class="">Khám phá Việt Nam với những địa điểm du lịch thú vị</h4>
            <p>Nơi hội tụ những địa điểm lí tưởng của 63 tỉnh thành</p>
            <div class="slide-show">
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/phuquoc.png" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Phú Quốc</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/nhatrang.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Nha Trang</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/danang.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Đà Nẵng</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/phanthiet.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Phan Thiết</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/vinhhalong.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Vịnh Hạ Long</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/hue.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Huế</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/nhatrang.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Nha Trang</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>




        <div class="category-location-area">
            <h4 class="mb-4">Tham khảo các loại nghi dưỡng</h4>
            <i id="chevron-left-icon" class="bi bi-chevron-left"></i>
            <div class="slide-show-category-location">
                <a href="" class="link-item-category">
                    <div class="content-category">
                        <div class="card-caterogy-slide">
                            <img src="../../img/location/nha-nghi.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <h5>Nhà nghỉ</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item-category">
                    <div class="content-category">
                        <div class="card-caterogy-slide">
                            <img src="../../img/location/nha-nghi.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <h5>Nhà nghỉ</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item-category">
                    <div class="content-category">
                        <div class="card-caterogy-slide">
                            <img src="../../img/location/nha-nghi.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <h5>Nhà nghỉ</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item-category">
                    <div class="content-category">
                        <div class="card-caterogy-slide">
                            <img src="../../img/location/nha-nghi.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <h5>Nhà nghỉ</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item-category">
                    <div class="content-category">
                        <div class="card-caterogy-slide">
                            <img src="../../img/location/khach-san.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <h5>Khách sạn</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item-category">
                    <div class="content-category">
                        <div class="card-caterogy-slide">
                            <img src="../../img/location/can-ho.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <h5>Căn hộ</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item-category">
                    <div class="content-category">
                        <div class="card-caterogy-slide">
                            <img src="../../img/location/biet-thu-dep.png" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <h5>Biệt thự</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item-category">
                    <div class="content-category">
                        <div class="card-caterogy-slide">
                            <img src="../../img/location/nhatrang.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <h5>Nha Trang</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <i id="chevron-right-icon" class="bi bi-chevron-right"></i>
        </div>






        <br>
        <br>
        <div class="wrapper-slideshow">
            <h4>Đi nhiều hơn, trả ít hơn, ưu đãi hời hơn</h4>
            <div class="container-slideshow">
                <div class="slideshow-item">
                    <div class="title-sale">Giảm giá 10% cho chỗ nghỉ</div>
                    <p>Tận hưởng giảm giá các chỗ nghỉ tham gia trên toàn Việt Nam</p>
                </div>
                <div class="slideshow-item">
                    <div class="title-sale">Giảm đến 15% cho thuê xe</div>
                    <p>Phục vụ mọi chất lượng hãng xe cung cấp, bao chạy bao êm </p>
                </div>
                <div class="slideshow-item sale-member">
                    <div class="title-sale">Ưu đãi tài khoản thành viên</div>
                    <p>Vĩ Khang ơi! bạn là Gonower cấp 1 trong chương trình khách hàng thân thiết của chúng tôi</p>
                </div>
                <div class="slideshow-item">
                    <div class="title-sale">Giảm giá 10% cho chỗ nghỉ</div>
                    <p>Tận hưởng giảm giá các chỗ nghỉ tham gia trên toàn Việt Nam</p>
                </div>
            </div>
        </div>
        <div class="slide-show-hot-location mt-5">
            <div class="title pl-2">
                <h3 class="">Chỗ nghỉ nổi bật trong tháng qua</h3>
                <p>Từ biệt thự, lâu đài cung điện chúng tôi đều có hết</p>
            </div>
            <div class="card-location-top">
                <i id="chevron-left-icon" class="bi bi-chevron-left"></i>
                <div class="slide-show-location-toptrending">
                    <div class="card-slide-show-item-location">
                        <img src="../../img/location/13125860.png" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3">
                            <div class="location-name-card-item">Aparthotel Stare Miasto</div>
                            <div class="location-address-card-item">Old Town, Ba Lan, Krakow</div>
                            <div class="location-feedback-card-item mt-3">
                                <label class="score">8.7</label>
                                <label for="Xuất sắc" class=""><span>Tuyệt vời</span> - </label>
                                <label for="">2.739 đánh giá</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-slide-show-item-location">
                        <img src="../../img/location/87428762.png" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3">
                            <div class="location-name-card-item">7Seasons Apartments Budapest</div>
                            <div class="location-address-card-item">Centro, Tây Ban Nha, Madrid</div>
                            <div class="location-feedback-card-item mt-3">
                                <label class="score">9.0</label>
                                <label for="Xuất sắc" class=""><span>Tuyệt hảo</span> - </label>
                                <label for="">3.084 đánh giá</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-slide-show-item-location">
                        <img src="../../img/location/420377357.png" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3">
                            <div class="location-name-card-item">The Apartments by The Sloane Club</div>
                            <div class="location-address-card-item">Long Xuyên, An Giang</div>
                            <div class="location-feedback-card-item mt-3">
                                <label class="score">8.9</label>
                                <label for="Xuất sắc" class=""><span>Xuất sắc</span> - </label>
                                <label for="">1.124 lượt đánh giá</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-slide-show-item-location">
                        <img src="../../img/location/95058973.png" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3">
                            <div class="location-name-card-item">Oriente Palace Apartments</div>
                            <div class="location-address-card-item">
                                Centro, Tây Bang Nha, Mowcos/div>
                                <div class="location-feedback-card-item mt-3">
                                    <label class="score">8.8</label>
                                    <label for="Xuất sắc" class=""><span>Tuyệt vời</span> - </label>
                                    <label for="">10.559 lượt đánh giá</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-slide-show-item-location">
                        <img src="../../img/location/420377357.png" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3">
                            <div class="location-name-card-item">Nhà trọ con thỏ</div>
                            <div class="location-address-card-item">Long Xuyên, An Giang</div>
                            <div class="location-feedback-card-item mt-3">
                                <label class="score">8.9</label>
                                <label for="Xuất sắc" class=""><span>Xuất sắc</span> - </label>
                                <label for="">1.124 lượt đánh giá</label>
                            </div>
                        </div>
                    </div>
                </div>
                <i id="chevron-right-icon" class="bi bi-chevron-right"></i>
            </div>
        </div>
        <br>
        <div class="slide-show-location mt-5">
            <h4 class="">Lên kế hoạch nhanh chóng dễ dàng và tiện lợi</h4>
            <p>Khám phá các địa điểm hàng đầu Việt Nam</p>
            <div class="navbar-option">
                <nav>
                    <ul class="list-option">
                        <a href="" class="link-option-item active-navbar-option-item">
                            <i class="fa-solid fa-umbrella-beach"></i>
                        <li class="option-item">Bãi biển</li>
                        </a>
                        <a href="" class="link-option-item">
                            <i class="fa-solid fa-seedling"></i>
                        <li class="option-item">Thiên nhiên</li>
                        </a>
                        <a href="" class="link-option-item">
                            <i class="fa-solid fa-city"></i>
                        <li class="option-item">Thành phố</li>
                        </a>
                        <a href="" class="link-option-item ">
                            <i class="fa-solid fa-shield-heart"></i>
                        <li class="option-item">Lãng mạn</li>
                        </a>
                        <a href="" class="link-option-item">
                            <i class="fa-brands fa-soundcloud"></i>
                        <li class="option-item">Yên tĩnh</li>
                        </a>
                    </ul>
                </nav>
            </div>
            <div class="slide-show">
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/phuquoc.png" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Phú Quốc</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/nhatrang.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Nha Trang</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/danang.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Đà Nẵng</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/phanthiet.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Phan Thiết</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/vinhhalong.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Vịnh Hạ Long</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/hue.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Huế</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="" class="link-item">
                    <div class="content">
                        <div class="card-location-slide">
                            <img src="../../img/location/nhatrang.jpg" class="card-location-img" alt="">
                            <div class="card-location-title">
                                <p>Nha Trang</p>
                                <span>1.825 chỗ nghỉ</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <div class="slide-show-hot-location">
            <div class="title pl-2">
                <h3 class="">Nhà ở yêu thích của du khách</h3>
            </div>
            <div class="card-location-top card-location-top-1">
                <i id="chevron-left-icon" class="bi bi-chevron-left"></i>
                <div class="slide-show-location-toptrending carousel-1">
                    <div class="card-slide-show-item-location card-price">
                        <img src="../../img/location/danang.jpg" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3 mb-0">
                            <div class="location-name-card-item">Nhà trọ con thỏ</div>
                            <div class="location-address-card-item">Long Xuyên, An Giang</div>
                            <div class="location-feedback-card-item mt-3">
                                <label class="score">8.9</label>
                                <label for="Xuất sắc" class=""><span>Xuất sắc</span> - </label>
                                <label for="">1.124 lượt đánh giá</label>
                            </div>
                        </div>
                        <div class="location-price">
                            Bắt đầu từ
                            <strong style="color: red;">11.352.123</strong>
                            VND
                        </div>
                    </div>
                    <div class="card-slide-show-item-location card-price">
                        <img src="../../img/location/danang.jpg" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3 mb-0">
                            <div class="location-name-card-item">Nhà trọ con thỏ</div>
                            <div class="location-address-card-item">Long Xuyên, An Giang</div>
                            <div class="location-feedback-card-item mt-3">
                                <label class="score">8.9</label>
                                <label for="Xuất sắc" class=""><span>Xuất sắc</span> - </label>
                                <label for="">1.124 lượt đánh giá</label>
                            </div>
                        </div>
                        <div class="location-price">
                            Bắt đầu từ
                            <strong style="color: red;">11.352.123</strong>
                            VND
                        </div>
                    </div>
                    <div class="card-slide-show-item-location card-price">
                        <img src="../../img/location/danang.jpg" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3 mb-0">
                            <div class="location-name-card-item">Nhà trọ con thỏ</div>
                            <div class="location-address-card-item">Long Xuyên, An Giang</div>
                            <div class="location-feedback-card-item mt-3">
                                <label class="score">8.9</label>
                                <label for="Xuất sắc" class=""><span>Xuất sắc</span> - </label>
                                <label for="">1.124 lượt đánh giá</label>
                            </div>
                        </div>
                        <div class="location-price">
                            Bắt đầu từ
                            <strong style="color: red;">11.352.123</strong>
                            VND
                        </div>
                    </div>
                    <div class="card-slide-show-item-location card-price">
                        <img src="../../img/location/danang.jpg" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3 mb-0">
                            <div class="location-name-card-item">Nhà trọ con thỏ</div>
                            <div class="location-address-card-item">Long Xuyên, An Giang</div>
                            <div class="location-feedback-card-item mt-3">
                                <label class="score">8.9</label>
                                <label for="Xuất sắc" class=""><span>Xuất sắc</span> - </label>
                                <label for="">1.124 lượt đánh giá</label>
                            </div>
                        </div>
                        <div class="location-price">
                            Bắt đầu từ
                            <strong style="color: red;">11.352.123</strong>
                            VND
                        </div>
                    </div>
                    <div class="card-slide-show-item-location card-price">
                        <img src="../../img/location/danang.jpg" alt="" class="img-card-item-slide-show">
                        <div class="title-card-item-slide-show mt-3 mb-0">
                            <div class="location-name-card-item">Nhà trọ con thỏ</div>
                            <div class="location-address-card-item">Long Xuyên, An Giang</div>
                            <div class="location-feedback-card-item mt-3">
                                <label class="score">8.9</label>
                                <label for="Xuất sắc" class=""><span>Xuất sắc</span> - </label>
                                <label for="">1.124 lượt đánh giá</label>
                            </div>
                        </div>
                        <div class="location-price">
                            Bắt đầu từ
                            <strong style="color: red;">11.352.123</strong>
                            VND
                        </div>
                    </div>
                </div>
                <i id="chevron-right-icon" class="bi bi-chevron-right"></i>
            </div>
        </div>
    </div>
</div>