@using Booking_Backend.Repository.BedRepo.ViewModel;
@using Booking_Backend.Repository.Paging.ViewModel;
@using Booking_Backend.Repository.Service.ViewModel;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PageResult<BedViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section IndexStyle {
    <link rel="stylesheet" href="~/css/Bed/index.css">
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4" style="overflow-x: scroll; ">
                <div class="card-body">
                    <table class="table table-hover table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>
                                    STT
                                </th>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Language
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    STT
                                </th>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Language
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                int count = 0;
                                foreach (var item in Model.Items)
                                {
                                    count += 1;
                                    <tr data-href="bed/update/@item.Id" class="data-viewer">
                                        <td class="text-nowrap">
                                            @count
                                        </td>
                                        <td class="text-nowrap">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td class="text-nowrap">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td class="text-nowrap">
                                            @Html.DisplayFor(modelItem => item.Language_Id)
                                        </td>
                                        <td class="text-nowrap">
                                            <a onclick="setTimeout(()=> {location.reload()},1000)" href="bed/delete/@Html.DisplayFor(modelItem => item.Id)">
                                                <div class="btn btn-danger text-light">Xóa</div>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 position-relative">
            <div class="card p-3">
                <form asp-action="create" asp-controller="bed" method="post" enctype="multipart/form-data">
                    <div class="row justify-content-center position-relative">
                        <div class="card area-1 col-md-11">
                            <input type="text" class="form-control mt-3 mb-2" name="namevi" placeholder="Tên loại giường" />
                            <textarea class="form-control mb-2" name="descriptionvi" placeholder="Nội dung mô tả..."></textarea>
                        </div>  
                        <div class="card area-2 col-md-11 mt-4">
                            <input type="text" class="form-control mb-2 mt-3" name="nameen" placeholder="Bed type name" />
                            <textarea class="form-control mb-2" name="descriptionen" placeholder="Description content..."></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info text-light mt-3">Thêm nơi nghỉ</button>
                </form>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 justify-content-center">
                    @await Component.InvokeAsync("Pager", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]")
        rows.forEach((row) => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href
            });
        });
    });
</script>
