@{
    ViewData["Title"] = "Owner Home Page";
    Layout = "_LayoutOwner";
}

<div id="layoutSidenav_content">
    <div class="container">
        <div class="homeowner-page">
            <div class="title-addbooking d-flex">
                <div class="title">
                    <h3>Bảng thông báo đặt phòng</h3>
                </div>
                <div class="addbooking">
                    <div class="btn btn-outline-primary">Thêm đặt phòng</div>
                </div>
            </div>
        </div>
        <div class="homeowner-table">
            <table class="table table-hover table-striped table-all-booking">
                <thead>
                <th></th>
                <th class="id-booking">#Booking</th>
                <th>Đơn hàng</th>
                <th class="number-guest">Số khách</th>
                <th>Người đặt</th>
                <th>Trạng thái</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Booking - <a href="#" class="underline-none">#12340</a></td>
                        <td><a href="#" class="underline-none">Phòng Gia đình</a> </td>
                        <td>2</td>
                        <td><a href="#" class="underline-none">Hà Vĩ Khang (Guest) </a></td>
                        <td><a href="#" class="underline-none">#12340</a> - Pedding</td>
                        <td>11/11/2024</td>
                        <td>22/12/2024</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Booking - <a href="#" class="underline-none">#12340</a></td>
                        <td><a href="#" class="underline-none">Phòng Gia đình</a> </td>
                        <td>2</td>
                        <td><a href="#" class="underline-none">Hà Vĩ Khang (Guest) </a></td>
                        <td><a href="#" class="underline-none">#12340</a> - Pedding</td>
                        <td>11/11/2024</td>
                        <td>22/12/2024</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Booking - <a href="#" class="underline-none">#12340</a></td>
                        <td><a href="#" class="underline-none">Phòng Gia đình</a> </td>
                        <td>2</td>
                        <td><a href="#" class="underline-none">Hà Vĩ Khang (Guest) </a></td>
                        <td><a href="#" class="underline-none">#12340</a> - Pedding</td>
                        <td>11/11/2024</td>
                        <td>22/12/2024</td>
                    </tr>
                </tbody>
                <tfoot>
                <th></th>
                <th class="id-booking">#Booking</th>
                <th>Đơn hàng</th>
                <th class="number-guest">Số khách</th>
                <th>Người đặt</th>
                <th>Trạng thái</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>