<div class="slide-show">
    <a href="" class="link-item">
        <div class="content">
            <div class="card-location-slide">
                <img src="../../img/location/phuquoc.png" class="card-location-img" alt="">
                <div class="card-location-title">
                    <p>Phú Quốc</p>
                    <span>1.825 <localize>chỗ nghỉ</localize></span>
                </div>
            </div>
        </div>
    </a>
    <a href="" class="link-item">
        <div class="content">
            <div class="card-location-slide">
                <img src="../../img/location/nhatrang.jpg" class="card-location-img" alt="">
                <div class="card-location-title">
                    <p>Nha Trang</p>
                    <span>1.825 <localize>chỗ nghỉ</localize></span>
                </div>
            </div>
        </div>
    </a>
    <a href="" class="link-item">
        <div class="content">
            <div class="card-location-slide">
                <img src="../../img/location/danang.jpg" class="card-location-img" alt="">
                <div class="card-location-title">
                    <p>Đà Nẵng</p>
                    <span>1.825 <localize>chỗ nghỉ</localize></span>
                </div>
            </div>
        </div>
    </a>
    <a href="" class="link-item">
        <div class="content">
            <div class="card-location-slide">
                <img src="../../img/location/phanthiet.jpg" class="card-location-img" alt="">
                <div class="card-location-title">
                    <p>Phan Thiết</p>
                    <span>1.825 <localize>chỗ nghỉ</localize></span>
                </div>
            </div>
        </div>
    </a>
    <a href="" class="link-item">
        <div class="content">
            <div class="card-location-slide">
                <img src="../../img/location/vinhhalong.jpg" class="card-location-img" alt="">
                <div class="card-location-title">
                    <p>Vịnh Hạ Long</p>
                    <span>1.825 <localize>chỗ nghỉ</localize></span>
                </div>
            </div>
        </div>
    </a>
    <a href="" class="link-item">
        <div class="content">
            <div class="card-location-slide">
                <img src="../../img/location/hue.jpg" class="card-location-img" alt="">
                <div class="card-location-title">
                    <p>Huế</p>
                    <span>1.825 <localize>chỗ nghỉ</localize></span>
                </div>
            </div>
        </div>
    </a>
    <a href="" class="link-item">
        <div class="content">
            <div class="card-location-slide">
                <img src="../../img/location/nhatrang.jpg" class="card-location-img" alt="">
                <div class="card-location-title">
                    <p>Nha Trang</p>
                    <span>1.825 <localize>chỗ nghỉ</localize></span>
                </div>
            </div>
        </div>
    </a>
</div>