.group-traphong {
    position: relative;
}

.group-traphong::before {
    position: absolute;
    content: "Trả phòng";
    color: black;
    background-color: white;
    padding: 0 5px;
    top: -25%;
    left: 5px;
    font-size: 25px;
}

.group-nhanphong {
    position: relative;
}

.group-nhanphong::before {
    position: absolute;
    content: "Nhận phòng";
    color: black;
    background-color: white;
    padding: 0 5px;
    top: -25%;
    left: 5px;
    font-size: 25px;
}

.service-group::before {
    content: "Dịch vụ nổi bật";
    position: absolute;
    background-color: white;
    padding: 0 5px;
    top: -12%;
    left: 5px;
    font-size: 25px;
}
.description::before {
    content: "Mô tả chỗ nghĩ";
    position: absolute;
    background-color: white;
    padding: 0 5px;
    top: -10%;
    left: 5px;
    font-size: 25px;
}