@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
 <div class="row">
     <div class="col-md-4">
        <form method="post" asp-action="Confirmation" asp-controller="auth" >
             <input class="form-control" name="Email" />
             <button type="submit" class="btn btn-primary">Xác thực</button>
         </form>
     </div>
 </div>