.container {
  height: 100px;
}

.homeowner-page {
  margin: 20px;
}
.homeowner-page .title {
  margin-right: 10px;
}

.table-all-booking th {
  font-size: 14px;
}
.table-all-booking th.number-guest {
  width: 85px;
}
.table-all-booking th.id-booking {
  width: 145px;
}
.table-all-booking tr {
  font-size: 14px;
}

.underline-none {
  text-decoration: none;
}

.search-by-id {
  width: 100%;
}

.line-stranght {
  position: relative;
}

.line-stranght:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #ccc;
  left: 0;
}
