body {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}
body .navbar-gonow {
  display: flex;
}
body header#page-header {
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: white;
  padding: 0 70px;
  justify-content: space-between;
}
body header#page-header .header__logoandlinks .wrapper-logo-primary {
  width: 150px;
  align-items: center;
}
body header#page-header .header__logoandlinks .wrapper-logo-primary .link-logo-primary .wrapper-link-logo .logo-primary {
  width: 100%;
  height: auto;
}
body header#page-header .header__logoandlinks .wrapper-links {
  display: flex;
  align-items: center;
}
body header#page-header .header__logoandlinks .wrapper-links ul.navbar-links {
  margin: 0;
  list-style: none;
}
body header#page-header .header__logoandlinks .wrapper-links ul.navbar-links a.link-item {
  color: black;
  padding: 15px 20px;
}
body header#page-header .header__logoandlinks .wrapper-links ul.navbar-links a.link-item:hover {
  text-decoration: none;
  color: #3888bd;
}
body header#page-header .login-logout {
  height: 100%;
  align-items: center;
}
body header#page-header .login-logout .select-language {
  padding-right: 15px;
  display: flex;
  margin-left: 20px;
}
body header#page-header .login-logout .select-language .language-quocki:hover {
  background-color: white;
  color: #3888bd;
  border: thin solid #3888bd;
  transition: background-color linear 0.2s;
}
body header#page-header .login-logout .select-language .language-quocki {
  width: 120px;
  padding: 5px 10px;
  border-radius: 5px;
  border: thin solid #3888bd;
  color: #3888bd;
  outline: none;
  border: none;
}
body header#page-header .login-logout .select-language .language-quocki option {
  padding: 5px 10px;
}
body header#page-header .login-logout .select-language .language-quocki img {
  width: 20px;
}
body header#page-header .login-logout .wrapper-btn {
  display: flex;
  align-items: center;
}
body header#page-header .login-logout .wrapper-btn a {
  padding: 10px 12px;
  text-decoration: none;
}
body header#page-header .login-logout .wrapper-btn .btn-link:hover {
  background-color: #3888bd;
  color: #f6f8fa;
  border-radius: 5px;
  transition: background-color linear 0.5s;
}
body header#page-header .login-logout .wrapper-btn a.register-link {
  border-radius: 5px;
  border: thin solid #3888bd;
}
body header#page-header .login-logout .wrapper-btn-login {
  margin-right: 15px;
}
body header#page-header .login-logout .wrapper-cart a i {
  font-size: 30px;
  padding: 10px 20px;
}
body .find-room {
  position: relative;
  display: flex;
  justify-content: center;
}
body .find-room .area-find-room {
  position: absolute;
  width: 1000px;
  top: -350px;
  height: 270px;
  border-radius: 15px;
  background-color: #f6f8fa;
  background-color: rgba(245, 241, 241, 0.4);
}
body .find-room .area-find-room .container .option-hotel .item-btn {
  display: flex;
  height: 30px;
  border: thin solid #ccc;
  border-radius: 20px;
  height: 40px;
  align-items: center;
  padding: 0 20px;
  margin-left: 10px;
  background-color: white;
}
body .find-room .area-find-room .container .option-hotel .item-btn:hover {
  border: 2px solid #3888bd;
  color: #3888bd;
  background-color: #e8f4fc;
}
body .find-room .area-find-room .container .row .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 100%;
  border-radius: 10px;
  border: thin solid #ccc;
  background-color: white;
}
.wrapper-search i {
  font-size: 20px;
}
.wrapper-search input {
  width: 800px;
  border: none;
}
.wrapper-search .form-search:focus {
  outline: none;
}
.wrapper-search .list-travel {
  height: 600px;
  width: 100%;
}

.container-form {
  display: flex;
  justify-content: center;
}

.icon-checkdate {
  display: flex;
  align-items: center;
}

.straight {
  position: relative;
}

.straight::before {
  content: "";
  left: 0px;
  top: 5px;
  position: absolute;
  width: 1px;
  height: calc(100% - 15px);
  background-color: #ccc;
}

.number-people {
  width: 100px;
}

.input-address::placeholder {
  font-weight: 300;
  color: #ccc;
}

.btn-find-room {
  position: absolute;
  bottom: -70px;
  left: calc(50% - 110px);
}
.btn-find-room .btn-find {
  padding: 10px 20px;
  font-size: 20px;
}

.home-page {
  padding: 0;
  margin-top: 100px;
}

.text-center {
  margin-bottom: 20px;
}

.group-location {
  padding: 0 5px;
}
.group-location .card-location {
  overflow: hidden;
  border-radius: 10px;
}
.group-location .card-location .card-img {
  position: relative;
}
.group-location .card-location .card-img img {
  width: 100%;
  object-fit: contain;
}
.group-location .card-location .card-img:hover {
  transform: scale(1.1);
  transition: transform ease 1s;
}

.link-hotel:hover {
  text-decoration: none;
}

.img-6 {
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}

.img-4 {
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
}

.label-location {
  position: absolute;
  padding: 10px 20px;
  border-radius: 25px;
  top: 8px;
  left: 8px;
  background-color: white;
}

.list-slideshow {
  height: 200px;
}

.card-small {
  padding: 0 5px;
}
.card-small .card-item {
  border: thin solid #ccc;
}

.list-slideshow {
  position: relative;
}
.list-slideshow .card-small {
  position: absolute;
}

.slide-show-category {
  position: relative;
}
.slide-show-category i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  z-index: 1;
  top: 50%;
  font-size: 30px;
  border-radius: 50%;
  border: thin solid #ccc;
}
.slide-show-category i#chevron-right-icon {
  right: -25px;
}

.slide-show {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.slide-show a .content {
  display: inline-block;
}
.slide-show a .content .card-location-slide:first-child {
  padding-left: 0;
}
.slide-show a .content .card-location-slide {
  width: 189.5px;
  height: 200px;
  overflow: hidden;
  padding: 0 15px;
  color: black;
  border-radius: 15px;
}
.slide-show a .content .card-location-slide p {
  margin: 0;
  margin-top: 10px;
  font-weight: 600;
}
.slide-show a .content .card-location-slide span {
  font-size: 15px;
}
.slide-show a .content .card-location-slide img {
  width: 100%;
  height: 100px;
  border-radius: 15px;
}

.category-location-area {
  position: relative;
}
.category-location-area i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: white;
  font-size: 20px;
  border-radius: 50%;
  border: thin solid #534f4f;
  top: 50%;
  z-index: 1;
}
.category-location-area i:first-child {
  left: 0;
}
.category-location-area i:last-child {
  right: 0;
}
.category-location-area .slide-show-category-location {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}
.category-location-area .slide-show-category-location .link-item-category {
  display: inline-block;
  padding-left: 5px;
  width: 24.75%;
  height: 200px;
}
.category-location-area .slide-show-category-location .link-item-category .content-category .card-caterogy-slide {
  position: relative;
}
.category-location-area .slide-show-category-location .link-item-category .content-category .card-caterogy-slide img {
  width: 100%;
  border-radius: 15px;
  height: 200px;
  object-fit: cover;
}
.category-location-area .slide-show-category-location .link-item-category .content-category .card-caterogy-slide .card-location-title {
  position: absolute;
  background-color: white;
  padding: 5px 20px;
  padding-left: 0;
  text-align: center;
  border-top-right-radius: 25px;
  bottom: -15px;
}
.category-location-area .slide-show-category-location .link-item-category .content-category .card-caterogy-slide .card-location-title h5 {
  text-align: center;
  color: black;
}
.category-location-area .slide-show-category-location .link-item-category:first-child {
  padding-left: 0;
}
.category-location-area .slide-show-category-location .link-item-category:last-child {
  padding-right: 0;
}

.card-location-top {
  position: relative;
}
.card-location-top i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  padding: 6px 11px;
  background-color: white;
  border-radius: 25px;
  border: thin solid #ccc;
  transform: translateY(-70%);
}
.card-location-top i:last-child {
  right: -20px;
}
.card-location-top i:first-child {
  left: -20px;
}
.card-location-top .slide-show-location-toptrending {
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}
.card-location-top .slide-show-location-toptrending .card-slide-show-item-location {
  display: inline-block;
  width: calc(25% - 6.75px);
  height: 370px;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 5px 0 0;
  border: thin solid #ccc;
  box-shadow: 1px 1px 3px 1px #ccc;
}
.card-location-top .slide-show-location-toptrending .img-card-item-slide-show {
  width: 100%;
  height: 200px;
}
.card-location-top .slide-show-location-toptrending .title-card-item-slide-show {
  margin: 10px;
  margin-right: 10px;
  white-space: wrap;
  overflow: hidden;
}
.card-location-top .slide-show-location-toptrending .title-card-item-slide-show .location-name-card-item {
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  overflow: hidden;
}
.card-location-top .slide-show-location-toptrending .title-card-item-slide-show .location-address-card-item {
  font-size: 15px;
  color: #918d8d;
}
.card-location-top .slide-show-location-toptrending .title-card-item-slide-show .location-feedback-card-item {
  color: #757579;
}
.card-location-top .slide-show-location-toptrending .title-card-item-slide-show .location-feedback-card-item .score {
  padding: 6px 8px;
  color: white;
  border-radius: 10px;
  background-color: #3888bd;
}

.card-price {
  height: 390px !important;
}
.card-price .location-price {
  text-align: end;
  margin-right: 10px;
}

.navbar-option ul.list-option {
  display: flex;
  list-style: none;
  margin: 30px 0;
  padding-left: 0;
}
.navbar-option ul.list-option a {
  display: flex;
  color: black;
  font-weight: 200;
  padding: 10px 25px;
  margin: 0 2px;
}
.navbar-option ul.list-option a i {
  display: flex;
  align-items: center;
}
.navbar-option ul.list-option a li {
  padding-left: 5px;
}

.active-navbar-option-item {
  border-radius: 25px;
  border: thin solid #3888bd;
  background-color: #e6edf5;
  box-shadow: 1px 1px 3px 1px #c1d9f5;
}
.active-navbar-option-item i,
.active-navbar-option-item li {
  color: #3888bd;
}

.link-option-item:hover {
  border-radius: 25px;
  border: thin solid #3888bd;
  background-color: #e6edf5;
  text-decoration: none;
  box-shadow: 1px 1px 3px 1px #c1d9f5;
}
.link-option-item:hover i,
.link-option-item:hover li {
  color: #3888bd;
}

.wrapper-sale .img-sale img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.wrapper-slideshow .container-slideshow {
  display: flex;
}
.wrapper-slideshow .container-slideshow .slideshow-item {
  display: inline-block;
  border: thin solid #3888bd;
  width: 25%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
.wrapper-slideshow .container-slideshow .slideshow-item p {
  font-size: 12px;
}

.sale-member {
  background-color: #3888bd;
  color: white;
}
.sale-member .title-sale {
  font-size: 18px;
  font-weight: 400;
}

.footer-gonnow {
  height: 200px;
  background-color: #3888bd;
}

.search-hotel {
  position: relative;
  display: flex;
  border: thin solid #ccc;
  height: 45px;
  padding: 10px 15px;
  align-items: center;
  justify-content: flex-start;
  width: 290px;
  border-radius: 5px;
}
.search-hotel input {
  height: 30px;
  border: none;
  outline: none;
}
.search-hotel input::placeholder {
  color: #ccc;
}
.search-hotel .btn-search-hotel {
  position: absolute;
  background-color: #3888bd;
  right: 1px;
  width: 50px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 3px;
}
.search-hotel .btn-search-hotel i {
  font-size: 17px;
  color: white;
}
.search-hotel .btn-search-hotel:hover {
  opacity: 0.8;
  transition: opacity linear 0.2s;
}

.help-gonow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #3888bd;
}
.help-gonow i {
  font-size: 20px;
}

.help-gonow:hover {
  background-color: #3888bd;
  color: white;
  border-radius: 5px;
  transition: background-color linear 0.2s;
}

.date-checktime {
  outline: none;
}

.number-people-input {
  width: 100%;
}
